.odd, .even, .final{
	margin-left: 10px;
	position:relative;
	width: 100px;
	height: 150px;
	background-color: #eeeff2;
	border-left-style: dotted;
	border-left-width: 10px;
	padding-top: 10px;
	padding-left: 10px;
  	font-family: tahoma;
  	font-size: 40px;
	border-left-color: #D0D0FF;
	white-space: nowrap;
}

.odd:hover, .even:hover, .final:hover{
	background-color: yellow;
}
.main{
	display: inline-flex;
	white-space: nowrap;
}

.final{
	float: right;
	position:absolute;
    bottom:0;
    right:0;
}