html,
body {
    height: 100%;
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
}

.cube {
    display: inline-block;
    flex-shrink: 0;
    font-family: "Tahoma", sans-serif;
    font-size: 40px;
    height: 100px;
    text-align: center;
    width: 100px;
}

.style-1 {

    transform: rotate(360deg);
    background-color: black;
    bottom: 0px;
    color: white;
    opacity: .7;
    position: relative;
    transition-property: all;
    transition-duration: .5s;
}

.style-1:hover {
    bottom: 25px;
    opacity: 1;
    transform: rotateY(360deg);
}

.style-2{
    background: linear-gradient(#800080, #3F87A6);
    bottom: 0px;
    color: white;
    opacity: .7;
    position: relative;
    transition-property: all;
    transition-duration: .5s;

}
.style-2:hover{-webkit-animation: flip-scale-up-hor 0.5s linear both;
            animation: flip-scale-up-hor 0.5s linear both;
}
.style-3{
    background: linear-gradient(#FFD700, #800080);
    bottom: 0px;
    color: white;
    opacity: .7;
    position: relative;
    transition-property: all;
    transition-duration: .5s;

}
.style-3:hover{-webkit-animation: flip-scale-up-hor 0.5s linear both;
            animation: flip-scale-up-hor 0.5s linear both;
}




@-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
            transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
  }
}
