.odd, .even, .final{
	border-top: 1px solid #687291;
	margin: auto;
	height: 100px;
  	width: 100px;
  	text-align: center;
  	font-family: tahoma;
  	font-size: 40px;
}
.odd{
	background-color: #dfe1e7
	
}
.even{
	background-color: #eeeff2
}

.final{
	position: relative;
	border: 4px solid black;
	background-color: #687291;
	display : flex;
  	align-items : center;
  	justify-content: center;
}